header {min-width: 1000px; background: lightblue;}
.header-top {height: 38px;}
.top-left {width: 273px; height: 100%; float: left;}
.top-right {width: 467px; height: 100%; float: right;}

.header-bottom {height: 64px;}
.logo {width: 270px; height: 100%; float: left;}
.nav {width: 729px; height: 100%; float: right;}

.contents {height: 1704px;}
.con_contanier {min-width: 713px; margin: 0 10%;}

.banner {height: 637px; background: red;}
.banner-wrap {height: 368px}
.banner-text {width: 713px; height: 261px}
.banner-ctl 
{
    float: right;
    width: 349px; height: 107px;
    margin-left: 100%;
}

.products {height: 1067px; background: gold;}
.products-wrap {position: relative; top: 56px;}
.products-row 
{
    margin-bottom: 56px;
    height: 379px;
}
.products-row>h2 
{
    height: 49px; margin-bottom: 18px;
    font-size: 28px; 
}
.products-row-list {height: 313px;}

footer {height: 426px; background: navy;}
.footer-contanier {height: 100%; margin: 0 10%;}
.footer-wrap 
{
    position: relative; top: 15%;
    height: 300px;
    margin: 0 88px;
}
.footer-upper {height: 172px; background: green;}
.footer-lower {height: 128px; background: hotpink;}