*
{
    margin: 0;
    padding: 0; 
}
a {color: none; text-decoration: none;}

header 
{
    height: 102px;
}
.top_head {height: 40px;}

.banner 
{
    height: 637px;
}

.contents 
{
    height: 1067px;
}

footer
{
    height: 426px;
}
