*
{
    margin: 0;
    padding: 0;
    list-style: none;
}
a {color: inherit; text-decoration: none;}

header 
{
    height: 102px;
}
.top_head {height: 40px; color: #fff; background: #434343;}
.top_head li {float: left; margin: 0 15px;}
.top_head_left {width: 275px;}
.top_head_right {width: 480px; padding-bottom: px; float: right;}
.top_head_right>ul, p {float: left;}

.head_wrap>.logo 
{
    width: 300px; float: left;
}
.head_wrap>.logo img {padding: 15px;}
.head_wrap>nav {width: 690px; float: right;}
.head_wrap>nav li 
{
    width: 140px; float: left;
    padding: 15px;
    text-align: center;
}


.banner 
{
    height: 637px;
}

.contents 
{
    height: 1067px;
}

footer
{
    height: 426px;
}
